body{
  background: black;
  h1{
    text-align: center;
    font-size: 70px;
    color: red;
  }
  p1{
    font-size: 40px;
    color: yellow
  }
  p2{
    font-size: 20px;
    color: white
  }
  p3{
    font-size: 40px;
    Color: yellow;
  }
  p4{
    font-size: 20px;
    color: white
  }
   p5{
    font-size: 20px;
    color: white
  }
  p6{
    font-size: 40px;
    color: yellow;
  }
  p7{
    font-size: 20px;
    color: white;
  }
  p8{
    font-size: 40px;
    color: yellow;
  }
  p9{
    font-size: 20px;
    color: white;
  }
  p10{
    font-size: 20px;
    color: white;
  }
  p11{
    font-size: 40px;
    color: yellow
  }
  p12{
    font-size: 20px;
    color: white;
  }
  p13{
    font-size: 40px;
    color: yellow;
  }
  p14{
    font-size: 20px;
    color: white;
  }
  p15{
    font-size: 20px;
    color: white;
  }
  p16{
    font-size: 40px;
    color: yellow;
  }
  
  }
  